ここはカレンダー
<p>
  <div class="chat">
    <div class="chat-message">
      チャット欄
      <% @chat.each do |e| %>
        <br>
        <%= e.add %>
        <br>
        <%= e.come %>
      <% end %>
    </div>
  </div>

</p>
<br>

<br>
<%= link_to "プロフィール", user_index_path %>
<%= link_to "コメントを追加", new_chat_path %>
<%= link_to "シフトを追加", new_shift_path %>