<body>
<h2><%= @date_range.first.strftime('%Y年%m月') %></h2>
<table border="1">
  <thead>
    <tr>
      <th style="width: 100px; background-color: #dcdcdc;">名前</th>
      <% @date_range.each do |date| %>
        <th>
          <%= date.day %>
          <div class="youbi"><%= @youbi[date.wday] %></div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="background-color: #dcdcdc;"><%= user.name %></td>
        <% @date_range.each do |date| %>
          <td>
            
            <% shift = @shifts.find { |s| s.user_id == user.id && s.tdate.to_date == date } %>
            <% if shift %>
              <%= shift.shift %>
            <% else %>
              　<%= "　" %>　
            <% end %>
            
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="add-shift">
  <%= link_to "シフトを追加", new_shift_path %>
</div>
    <table border="1" style="margin-top: 50px; width:30%">
      <thead>
        <tr>
          <th style="width:5px">シフト</th>
          <th style="width:10px">勤務時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>11</td>
          <td>8:00～13:00</td>
        </tr>
        <tr>
          <td>22</td>
          <td>13:00～18:00</td>
        </tr>
        <tr>
          <td>33</td>
          <td>18:00～23:00</td>
        </tr>
        <tr>
          <td>4</td>
          <td>フリー</td>
        </tr>
      </tbody>
    </table>
</body>