<%= form_with model: @chat do |f| %>
<head>
  <title>シフト管理</title>
  <style>
    .cell {
      position: relative;
      width: 80px;
      height: 80px;
    }
    .checkbox-group {
      display: none; /* 初期状態では非表示 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 5px;
      border: 1px solid #ccc;
      z-index: 10;
    }
    .cell:hover .checkbox-group {
      display: block; /* マウスオーバー時に表示 */
    }
    .checkbox-group label {
      margin-right: 100px;
    }
  </style>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <th>日付</th>
        <% (1..31).each do |day| %>
          <th><%= day %>日</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %> <!-- Userモデルから全ユーザーを取得 -->
        <tr>
          <td><%= user.name %></td>
          <% (1..31).each do |day| %>
            <td class="cell">
              <div class="checkbox-group">
                <label>
                  <%= f.check_box "#{user.name}[#{day}][]", multiple: true, value: 1 %> 1
                </label>
                <label>
                  <%= f.check_box "#{user.name}[#{day}][]", multiple: true, value: 2 %> 2
                </label>
                <label>
                  <%= f.check_box "#{user.name}[#{day}][]", multiple: true, value: 3 %> 3
                </label>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>

<%= f.submit "送信" %>
<% end %>
