<%= form_with model: @chat do |f| %>
  <head>
    <title>シフト管理</title>
    <style>
      .cell {
        position: relative;
        width: 80px;
        height: 120px;
        text-align: center;
      }
      .shift-btn {
        width: 50px;
        height: 30px;
      }
      .shift-btn.selected {
        display: none;
      }
    </style>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>日付</th>
          <% (1..31).each do |day| %>
            <th><%= day %>日</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %> <!-- Userモデルから全ユーザーを取得 -->
          <tr>
            <td><%= user.name %></td>
            <% (1..31).each do |day| %>
              <td class="cell" data-user="<%= user.name %>" data-day="<%= day %>">
                <%= f.hidden_field "#{user.name}[#{day}][]", value: "" %>
                <%= f.submit "1", name: "#{user.name}[#{day}][]", value: 1, class: 'shift-btn', onclick: "setShiftValue(this, #{user.name}, #{day})" %>
                <%= f.submit "2", name: "#{user.name}[#{day}][]", value: 2, class: 'shift-btn', onclick: "setShiftValue(this, #{user.name}, #{day})" %>
                <%= f.submit "3", name: "#{user.name}[#{day}][]", value: 3, class: 'shift-btn', onclick: "setShiftValue(this, #{user.name}, #{day})" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= f.submit "送信" %>
  </body>

  <script>
    // ボタンがクリックされたときの処理
    function setShiftValue(button, userName, day) {
      // ボタンがクリックされたセルを取得
      const cell = button.closest('.cell');
      
      // クリックされたボタンの値を隠しフィールドに設定
      const hiddenField = cell.querySelector('input[type="hidden"]');
      hiddenField.value = button.value;

      // セル内のボタンをすべて非表示にする
      const buttons = cell.querySelectorAll('.shift-btn');
      buttons.forEach(function(btn) {
        if (btn !== button) {
          btn.style.display = 'none'; // 他のボタンを非表示にする
        }
      });

      // クリックされたボタンをセルに表示する
      cell.innerHTML = button.value; // セルに選択した値を表示する
    }
  </script>
<% end %>
