<style>
.radio-table{
   margin: 0 auto;
}
.radio-table td {
  padding-left: 25px;
  border: none; /* 枠線を非表示にする */
  text-align: left;
}
</style>

<div class="defo">
  <%= form_with(model: @shift, url: shift_index_path) do |form| %>
  <div>
    <h3><%= form.label :tdate, "日付" %></h3>
    <%= form.date_field :tdate, value: @selected_date, readonly: true %>
  </div>
  <br>
  <div>
    <h3><%= form.label :shift, "シフトの選択" %></h3>
    <div class="radio-container">
      <table class="radio-table" style="width:200px;">
        <tr>
          <td>
            <%= form.radio_button :shift, 11, id: "shift_11" %>
            <%= form.label :shift_11, "11 (8:00～13:00)" %>
        </tr>
        <tr>
          <td>
            <%= form.radio_button :shift, 22, id: "shift_22" %>
            <%= form.label :shift_22, "22 (13:00～18:00)" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= form.radio_button :shift, 33, id: "shift_33" %>
            <%= form.label :shift_33, "33 (18:00～23:00)" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= form.radio_button :shift, 4, id: "shift_4" %>
            <%= form.label :shift_4, "4 (フリー)" %>
          </td>
        </tr>
      </table>
    </div>
    <br>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.submit "追加" %>
  </div>
  <% end %>
</div>