<body>
    <h2>権限の編集</h2>
    <br>
    <div class="defo">
            <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
        <%= f.label :admin, "管理者権限を付与しますか？" %>
        <%= f.check_box :admin %>  <%= f.submit "更新" %>
    <% end %>
    </div>
    <%= link_to "戻る", admin_user_index_path %>
</body>
