<% if notice %>
  <div class="alert alert-success" style="text-align: center;">
    <%= notice %>
  </div>
<% end %>

<h2><%= @date_range.first.strftime('%Y年%m月') %></h2>
<table border="1" style="border-collapse: collapse">
  <thead>
    <tr>
      <th style="width:100px;">名前</th>
      <% @date_range.each do |date| %>
        <th><%= date.day %>
        <div class="youbi"><%= @youbi[date.wday] %></div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% @date_range.each do |date| %>
          <td>
            <% shift = @shift[[user.id, date.to_date]]&.first %>
            <% if shift %>
              <% if shift.shift == 4 %>
                <%= link_to shift.shift, shift_edit_admin_user_path(shift.id), method: :get %>
              <% else %>
                <%= shift.shift %>
                <%= link_to '消', admin_user_path(date), data: { turbo_method: :delete } %>
              <% end %>
            <% else %>
              　　
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="defo">
  <%= button_to 'データを更新', update_copy_admin_user_index_path, method: :post %>
</div>