<body>
  <div class="defo">
      <h2>ユーザー情報編集</h2>
      <br>
      <%= form_with model: @user, local: true do |f| %>
        <p>
          <%= f.label :uname, 'ユーザー名' %><br>
          <%= f.text_field :uname %>
        </p>
        <br>
        <p>
          <%= f.label :name, '名前' %><br>
          <%= f.text_field :name %>
        </p>
        <br>
        <p>
          <%= f.label :color, 'カラー' %><br>
          <%= f.text_field :color %>
        </p>
        <br>
        <p>
          <%= f.label :money, '時給' %><br>
          <%= f.number_field :money %>
        </p>
        <br>
        <p>
          <%= f.submit '更新' %>
        </p>
    <% end %>
  </div>

</body>
